body {
  font-family: "Poppins", sans-serif;
  background-color: rgb(31, 30, 30);
  display: table-cell;
  vertical-align: middle;
}

html {
  display: table;
  margin: auto;
  background-color: rgb(31, 30, 30);
}

html,
body {
  height: 100%;
}

p,
h1 {
  color: whitesmoke;
}

h1 {
  margin-bottom: 100px;
}

.UserName {
  font-size: 30px;
  margin: 10px;
}

.UserList {
  max-height: 300px;
  overflow-y: auto;
  min-height: 300px;
  margin-bottom: 15px;
}

.MatchingsList {
  margin-bottom: 15px;
  font-size: 30px;
  margin: 10px;
}

button {
  color: whitesmoke;
  background-color: slateblue;
  height: 50px;
  width: 200px;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  margin: 10px;
  margin-left: 100px;
  transition: background-color, 0.2s;
  border-radius: 10%;
}

button:hover {
  background-color: rgb(72, 63, 131);
  transform: translateY(-5px);
}

input {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-size: 30px;
}

.InputError {
  color: red;
}

.UserCounter {
  color: slateblue;
}
